Options -MultiViews -Indexes
RewriteEngine On
# RewriteBase /distant/teacher/

# Fix double slashes
RewriteCond %{THE_REQUEST} //
RewriteRule .* /$0 [R=301,L]

# Redirect .php to SEF (Exclude POST to prevent data loss)
# RewriteCond %{REQUEST_METHOD} !POST
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
# RewriteRule ^ %1 [R=301,L]

# Internal rewrite to .php
# Increase PHP upload limits
<IfModule mod_php7.c>
    php_value upload_max_filesize 1024M
    php_value post_max_size 1024M
    php_value max_execution_time 3600
    php_value max_input_time 3600
    php_value memory_limit 1024M
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 1024M
    php_value post_max_size 1024M
    php_value max_execution_time 3600
    php_value max_input_time 3600
    php_value memory_limit 1024M
</IfModule>

RewriteRule ^dashboard/?$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*?)/?$ $1.php [L]
